@font-face {
  font-family: "Vazir-FD";
  src: url("./fonts/Vazir-FD.woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazir-FD";
}

body {
  direction: rtl;
  height: 100%;
  /* max-width: 2500px; */
}

a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}

:root {
  --light-gray: #e6e6e6;
  --easy-gray: #a7a7a7;
  --grey: #404040;
  --white: #fff;
  --black: #000;
  --ligh-black: #232323;
  --red: #ff0000;
  --scarlet-red: #b2001a;
  --green: #00ff00;
  --lawn-green: #39ae00;
  --blue: #0000ff;
  --red-pink: #ee384e;
  --blue-diamond: #3cd5ff;
  --bondi-blue: #008eb2;
  --royal-fuchsia-story-border: #c04198;
  --harp: #ecefeb;
  --peach: #ffae75;
  --cotton-candy: #f4b7e0;
  --white-smole: #f4f6f8;
  --cerulean: #10a4db;
  --selective-yellow: #f9bc00;
  --warm-purple: #941b80;
}

/* Login Styles start here*/

.login-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login {
  background-color: var(--white);
  width: 400px;
  height: auto;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
}

.digikala-icon {
  text-align: center;
  margin-top: 20px;
  width: 150px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.digikala-icon > img {
  width: 100%;
}

.form-container {
  margin: 0px 35px;
}
.form-container p {
  color: var(--grey);
  font-size: 0.9rem;
}
.form-container > h3 {
  margin-bottom: 20px;
}
.form-container > h3 + p {
  margin-bottom: 8px;
}
.input-container {
  width: 100%;
  margin-top: 20px;
}
.form-container input {
  width: 100%;
  height: 50px;
  border: 1px solid #3cd5ff;
  border-radius: 8px;
  outline: none;
  padding-right: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.form-container input:focus {
  border-color: var(--scarlet-red);
}
.input-error {
  color: var(--scarlet-red);
  margin-top: 10px;
  opacity: 0;
}

.form-container input:focus .input-error {
  opacity: 1;
  color: blue;
}

.login-button {
  background-color: var(--red-pink);
  width: 100%;
  height: 50px;
  border-radius: 8px;
  color: var(--white);
  font-size: 1.2rem;
  border: none;
  outline: none;
  margin: 2rem 0 1rem 0;
}
.rules-terms {
  font-size: 0.7rem !important;
  margin-bottom: 2.2rem;
}
.form-container a {
  color: var(--bondi-blue);
}
/* Login Styles end here */

/* Landing Page Styles start here */
header {
  position: sticky;
  top: 0;
  z-index: 100;
}
div.sticky-banner {
  height: 60px;
  width: 100%;
  /* background-color: var(--red-pink); */
  background: rgb(218, 98, 98);
  background: radial-gradient(
    circle,
    rgba(218, 98, 98, 1) 0%,
    rgba(238, 56, 78, 1) 100%
  );
  animation: cahnge-banner-bgcolor 2s infinite;
}

.sticky-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sticky-banner_first-item {
  /* display: none !important; */
  color: red;
  color: var(--white);
  animation: text-animate 2s infinite;
}
.sticky-banner_second-item {
  display: none;
  color: var(--white);
  /* animation: cahnge-text 2s infinite; */
}

@keyframes text-animate {
  0% {
    transform: rotate(-5deg);
    transform: scale(1.2);
    text-shadow: 5px 5px 0px #ffee03;
  }
  50% {
    /* transform: scale(0.75); */
    transform: rotate(0deg);
    text-shadow: 5px 5px 10px #ffee03;
  }
  75% {
    /* transform: scale(1.5); */
    transform: rotate(5deg);
    text-shadow: 5px 5px 15px #ffee03;
  }
  100% {
    transform: rotate(-5deg);
    /* transform: scale(1); */
    text-shadow: 0 0px #ffee03;
  }
}

/* @keyframes cahnge-text {
  0% {display: block;}
  50% {display: none;}
  100% {display: block;}
} */

@keyframes cahnge-banner-bgcolor {
  0% {
    background: rgb(218, 98, 98);
    background: radial-gradient(
      circle,
      rgba(218, 98, 98, 1) 0%,
      rgba(238, 56, 78, 1) 100%
    );
  }
  50% {
    background: rgb(75, 97, 189);
    background: radial-gradient(
      circle,
      rgba(75, 97, 189, 1) 0%,
      rgba(3, 12, 57, 1) 100%
    );
  }
  100% {
    background: rgb(218, 98, 98);
    background: radial-gradient(
      circle,
      rgba(218, 98, 98, 1) 0%,
      rgba(238, 56, 78, 1) 100%
    );
  }
}
header {
  border-bottom: 2px solid var(--light-gray);
  margin-bottom: 0.5rem;
  background-color: var(--white);
}
nav {
  background-color: var(--white);
  margin: auto;
  width: 85%;
}
.nav-container {
  display: flex;
}
.dgkala-icon {
  /* flex: 1; */
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 170px;
  max-width: 170px;
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex: 3; */
  height: 50px;
  position: relative;
  width: 612px;
  max-width: 612px;
}
.search-input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--light-gray);
  outline: none;
  padding-right: 2.8rem;
  background-color: var(--light-gray);
}
.search-input::-webkit-input-placeholder {
  color: var(--easy-gray);
}
.fa-magnifying-glass {
  position: absolute;
  right: 10px;
  top: 32%;
  font-size: 1.2rem;
  color: var(--easy-gray);
}

.white-space {
  flex: 3;
  /* width: 612px; */
  /* max-width: 612px; */
  height: 50px;
}

.cart-registration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex: 1; */
  width: 204px;
  max-width: 204px;
  height: 50px;
  /* background-color: #465483; */
}

.regiter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-gray);
  padding: 7px 20px;
  border-radius: 5px;
  /* background-color: red; */
}
.fa-arrow-right-to-bracket {
  transform: rotateY(180deg);
}
.divider {
  width: 1px;
  background-color: var(--light-gray);
  height: 30px;
}
.fa-cart-shopping {
  transform: rotateY(180deg);
}

.nav_product-categories {
  width: 100%;
  height: 50px;
  display: flex;
}

.product-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 204px;
  max-width: 204px;
  height: 50px;
}
#categoring-title {
  color: var(--ligh-black);
  font-size: 0.9rem;
}
.fa-bars {
  color: var(--ligh-black);
}

.products-navbar {
  width: 1000px;
  max-width: 1000px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.products-navbar_divider {
  width: 1px;
  background-color: var(--light-gray);
  height: 20px;
}
.products-navbar_item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: var(--grey);
}

.products-navbar_item i {
  margin-left: 5px;
}

.empty-space {
  width: 489px;
  max-width: 489px;
  height: 50px;
}

.choose-city {
  width: 215px;
  max-width: 215px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: var(--grey);
}
.choose-city p {
  margin-right: 5px;
}

.container {
  width: 75%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#stories {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.story-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.story-list_item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 6px;
  width: 95px;
  text-align: center;
  font-size: 0.8rem;
}
.story-list_item img {
  border-radius: 50%;
  padding: 2px;
  border: 3px solid var(--royal-fuchsia-story-border);
}
.story-list_item div {
  margin-top: 10px;
}

.slider {
  margin: 30px 0 20px 0;

  /* position: absolute; */
  height: 400px;
  /* width: 1920px; */
  width: 100%;
  background-color: var(--red-pink);
  animation: change-main-slider-backgorundColor 10s infinite;
}

/* #1E1040
#4E184D */
@keyframes change-main-slider-backgorundColor {
  0% {
    background: rgb(218, 98, 98);
    background: radial-gradient(
      circle,
      rgba(218, 98, 98, 1) 0%,
      rgba(238, 56, 78, 1) 100%
    );
  }
  20% {
    background: #bdcee2;
  }
  40% {
    background: rgb(78, 24, 77);
    background: linear-gradient(
      90deg,
      rgba(78, 24, 77, 1) 24%,
      rgba(30, 16, 64, 1) 100%
    );
  }
  60% {
    background: #b4dea9;
  }
  80% {
    background: rgb(75, 97, 189);
    background: radial-gradient(
      circle,
      rgba(75, 97, 189, 1) 0%,
      rgba(3, 12, 57, 1) 100%
    );
  }
  100% {
    background: rgb(218, 98, 98);
    background: radial-gradient(
      circle,
      rgba(218, 98, 98, 1) 0%,
      rgba(238, 56, 78, 1) 100%
    );
  }
}

#services {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.services-list {
  display: flex;
  list-style: none;
}
.services-list_item {
  font-size: 0.8rem;
  width: 105px;
  text-align: center;
  margin: 0 2rem;
}
.services-list_item span {
  display: inline-block;
}
.more {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.more-icon {
  width: 52px;
  height: 52px;
  background-color: var(--light-gray);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-ellipsis {
  color: var(--easy-gray);
}

#amazing-suggestions {
  background-color: var(--red-pink);
  height: 300px;
  width: 100%;
  border-radius: 16px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  padding: 1rem 0.5rem;
}

.amazing-suggestions-title {
  flex: 1;
  background-color: var(--red-pink);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.amazing-suggestions_products_slider {
  position: relative;
  flex: 8;
  display: grid;
  grid-template-columns: 182px 182px 182px 182px 182px 182px 182px 182px 182px 182px 182px 182px;
  gap: 5px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  /* background-color: var(--white); */
  overflow: hidden;
}
.amazing-sug_change-slider {
  position: absolute;
  top: 110px;
  margin-left: 5px;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px rgba(87, 87, 87, 0.5);
  /* z-index: -1; */
}

.amazing-suggestions_products_slider-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 261.625px;
  background-color: var(--white);
}

#supermarket-amazing {
  background-color: var(--harp);
  margin-top: 1rem;
  height: 110px;
  display: flex;
  border-radius: 16px;
}
.supermarket-amazing__item {
  width: 70%;
}

.supermarket-amazing__item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.supermaket-amazing-title h1 {
  color: var(--lawn-green);
}
.supermaket-amazing-button button {
  border: none;
  color: var(--white);
  background-color: var(--lawn-green);
  border-radius: 50px;
  padding: 5px 25px;
  font-size: 1rem;
}

.supermarket-amazing-products {
  margin-right: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.supermarket-amazing-products_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.supermarket-amazing-products_item {
  position: relative;
}
.supermarket-amazing-products_item-product {
  width: 70px;
  height: 70px;
  background-color: var(--white);
  margin: 0px 5px;
  border-radius: 50%;
}
.supermarket-amazing-products_item-product img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.supermarket-amazing-products_item-badge {
  position: absolute;
  bottom: -8px;
  margin-left: 10px;
  font-size: 0.7rem;
  height: 22px;
  width: 35px;
  text-align: center;
  background-color: #ee384e;
  border-radius: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-hundred-more {
  background-color: var(--white);
  color: var(--lawn-green);
  margin-right: 3rem;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.show-hundred-more p {
  font-size: 0.8rem;
}

#product-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.card {
  width: 322px;
  height: 241px;
  border-radius: 16px;
}
.card img {
  width: 322px;
  height: 241px;
  border-radius: 16px;
}
/* .card:nth-child(1) {
  background-color: var(--white-smole);
}
.card:nth-child(1) {

}
.card:nth-child(2) {
  background-color: var(--cotton-candy);
}
.card:nth-child(3) {
  background-color: var(--cerulean);
}

.card:nth-child(4) {
  background-color: var(--peach);
} */

#purchase-over-categorized h3 {
  margin: 3rem 0;
  text-align: center;
  color: var(--ligh-black);
}
#purchase-over-categorized img {
  width: 90px;
  height: 90px;
}
#purchase-over-categorized p {
  font-size: 12px;
  margin-top: 0.8rem;
  font-weight: 500;
}

.purchase-over-categorized_upper,
.purchase-over-categorized_down {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#second-cards {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-cards__item {
  width: 690px;
  height: 264px;
  border-radius: 1rem;
}
.second-cards__item img {
  width: 690px;
  height: 264px;
  border-radius: 1rem;
}

#digikala-suggestion {
  /* background: orange; */
  border-radius: 1rem;
}
#digikala-suggestion h2 {
  text-align: center;
  margin: 2rem 0 1.5rem 0;
}
.digikala-suggestion-table {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.digikala-suggestion-table_link {
  color: var(--ligh-black);
}
.digikala-suggestion-table_link-item {
  width: 200px;
  height: 150px;
  border: 1px solid rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.digikala-suggestion-table_link-item-pic {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(213, 213, 213);
  width: 84px;
  height: 84px;
  border-radius: 50%;
}
.digikala-suggestion-table_link-item-pic img {
  border-radius: 50%;
  width: 84px;
  height: 84px;
}

#popular-brands {
  margin-top: 1rem;
  /* background-color: rgb(255, 213, 134); */
  border-radius: 1rem;
  border: 1px solid var(--light-gray);
  position: relative;
}
.popular-brands_title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular-brands_title h1 {
  color: var(--ligh-black);
  margin: 1.5rem 0.7rem 1rem 0;
}
.fa-star {
  color: var(--selective-yellow);
  font-size: 1.2rem;
}
.popular-brands_table {
  display: flex;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
}
.popular-brands_image {
  border-left: 1px solid var(--light-gray);
  padding: 0.3rem 0.7rem;
}

.popular-brands-slider-btn {
  position: absolute;
  top: 110px;
  margin-left: 5px;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px rgba(87, 87, 87, 0.5);
  /* z-index: -1; */
}

#third-galary {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.third-galary_picbox {
  border-radius: 1rem;
}
.third-galary_picbox img {
  border-radius: 1rem;
}

#digital-table-one {
  border-radius: 1rem;
  margin-top: 1rem;
  border: 1px solid var(--light-gray);
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.digital-table-one__item-title {
  padding-right: 1.5rem;
  /* padding-top: 1.5rem; */
  text-align: right;
}
.digital-table-one__item-title p {
  font-size: 0.7rem;
  margin-top: 0.5rem;
  color: var(--easy-gray);
}
.digital-table-one__item {
  width: 100%;
  height: 100%;

  text-align: center;
  padding: 1.2rem 0;
}
.digital-table-one__item-photos {
  display: inline-grid;
  grid-template-columns: auto auto;
  padding: 10px;
  margin: auto;
}
.digital-table-one__item-photos-container {
  width: 129px;
  height: 129px;
}
.digital-table-one__item-photos-container img {
  width: 129px;
  height: 129px;
}

.digital-table-one__item-more {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.digital-table-one__item-more p {
  color: var(--blue-diamond);
  margin-left: 0.3rem;
}

#digi-plus {
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  background-color: var(--warm-purple);
  height: 387px;
  display: flex;
}
.digi-plus_title {
  background-color: var(--warm-purple);
  flex: 2;
  padding: 1.5rem;
}
.digi-plus_title h1 {
  font-size: 2.2rem;
}
.digi-plus_title h1,
.digi-plus_title p {
  color: var(--white);
}
.digi-plus_title button {
  color: var(--white);
  background-color: var(--warm-purple);
  outline: none;
  border: 1px solid var(--white);
  border-radius: 0.4rem;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  margin-top: 0.8rem;
  cursor: pointer;
}
.fa-arrow-left {
  font-size: 1.3rem;
  display: inline-block;
  margin-right: 0.7rem;
}
.digi-plus_products {
  background-color: var(--white);
  flex: 4;
  border-radius: 1rem;
  padding: 1.2rem 1rem;
}
.digi-plus_products__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.digi-plus_sendfast {
  display: flex;
  align-items: center;
}
.fa-truck-fast {
  color: var(--warm-purple);
  margin-left: 0.5rem;
}

.digi-plus_products__header h6 {
  font-size: 1.1rem;
}

.digi-plus_products_visit-all {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--warm-purple);
}
.digi-plus_products_visit-all p {
  font-size: 0.8rem;
}
.chevron-left-visit {
  font-size: 0.7rem;
  margin-right: 0.4rem;
}
.digi-plus_products__images {
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 25px;
}

.digi-plus_products__images-item {
}

.digi-plus_products__images-item-link {
}

.digi-plus_products__images-item-photo {
    width: 116px;
  height: 116px;
}

.digi-plus_products-pic {
  width: 116px;
  height: 116px;
}

/* Landing Page Styles end here */

/*
class="flex overflow-x-auto overflow-y-hidden hide-scrollbar mt-2 border-complete-200 rounded-large"
*/
