@font-face {
  font-family: "Vazir-FD";
  src: url("./fonts/Vazir-FD.woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazir-FD";
}

body {
  direction: rtl;
  height: 100%;
  /* max-width: 2500px; */
}

a {
  text-decoration: none;
  cursor: pointer;
}

:root {
  --light-gray: #e6e6e6;
  --easy-gray: #a7a7a7;
  --grey: #404040;
  --white: #fff;
  --black: #000;
  --ligh-black: #232323;
  --red: #ff0000;
  --scarlet-red: #b2001a;
  --green: #00ff00;
  --blue: #0000ff;
  --red-pink: #ee384e;
  --blue-diamond: #3cd5ff;
  --bondi-blue: #008eb2;
  --royal-fuchsia-story-border: #c04198;
}

/* Login Styles start here*/

.login-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login {
  background-color: var(--white);
  width: 400px;
  height: auto;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
}

.digikala-icon {
  text-align: center;
  margin-top: 20px;
  width: 150px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.digikala-icon > img {
  width: 100%;
}

.form-container {
  margin: 0px 35px;
}
.form-container p {
  color: var(--grey);
  font-size: 0.9rem;
}
.form-container > h3 {
  margin-bottom: 20px;
}
.form-container > h3 + p {
  margin-bottom: 8px;
}
.input-container {
  width: 100%;
  margin-top: 20px;
}
.form-container input {
  width: 100%;
  height: 50px;
  border: 1px solid #3cd5ff;
  border-radius: 8px;
  outline: none;
  padding-right: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.form-container input:focus {
  border-color: var(--scarlet-red);
}
.input-error {
  color: var(--scarlet-red);
  margin-top: 10px;
  opacity: 0;
}

.form-container input:focus .input-error {
  opacity: 1;
  color: blue;
}

.login-button {
  background-color: var(--red-pink);
  width: 100%;
  height: 50px;
  border-radius: 8px;
  color: var(--white);
  font-size: 1.2rem;
  border: none;
  outline: none;
  margin: 2rem 0 1rem 0;
}
.rules-terms {
  font-size: 0.7rem !important;
  margin-bottom: 2.2rem;
}
.form-container a {
  color: var(--bondi-blue);
}
/* Login Styles end here */

/* Landing Page Styles start here */
header {
  position: sticky;
  top: 0;
}
div.sticky-banner {
  height: 60px;
  width: 100%;
  /* background-color: var(--red-pink); */
  background: rgb(218, 98, 98);
  background: radial-gradient(
    circle,
    rgba(218, 98, 98, 1) 0%,
    rgba(238, 56, 78, 1) 100%
  );
  animation: cahnge-banner-bgcolor 2s infinite;
}

.sticky-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sticky-banner_first-item {
  /* display: none !important; */
  color: red;
  color: var(--white);
  animation: text-animate 2s infinite;
}
.sticky-banner_second-item {
  display: none;
  color: var(--white);
  /* animation: cahnge-text 2s infinite; */
}

@keyframes text-animate {
  0% {
    transform: rotate(-5deg);
    transform: scale(1.2);
    text-shadow: 5px 5px 0px #ffee03;
  }
  50% {
    /* transform: scale(0.75); */
    transform: rotate(0deg);
    text-shadow: 5px 5px 10px #ffee03;
  }
  75% {
    /* transform: scale(1.5); */
    transform: rotate(5deg);
    text-shadow: 5px 5px 15px #ffee03;
  }
  100% {
    transform: rotate(-5deg);
    /* transform: scale(1); */
    text-shadow: 0 0px #ffee03;
  }
}

/* @keyframes cahnge-text {
  0% {display: block;}
  50% {display: none;}
  100% {display: block;}
} */

@keyframes cahnge-banner-bgcolor {
  0% {
    background: rgb(218, 98, 98);
    background: radial-gradient(
      circle,
      rgba(218, 98, 98, 1) 0%,
      rgba(238, 56, 78, 1) 100%
    );
  }
  50% {
    background: rgb(75, 97, 189);
    background: radial-gradient(
      circle,
      rgba(75, 97, 189, 1) 0%,
      rgba(3, 12, 57, 1) 100%
    );
  }
  100% {
    background: rgb(218, 98, 98);
    background: radial-gradient(
      circle,
      rgba(218, 98, 98, 1) 0%,
      rgba(238, 56, 78, 1) 100%
    );
  }
}
header {
  border-bottom: 2px solid var(--light-gray);
  margin-bottom: 0.5rem;
}
nav {
  background-color: var(--white);
  margin: auto;
  width: 85%;
}
.nav-container {
  display: flex;
}
.dgkala-icon {
  /* flex: 1; */
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 170px;
  max-width: 170px;
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex: 3; */
  height: 50px;
  position: relative;
  width: 612px;
  max-width: 612px;
}
.search-input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--light-gray);
  outline: none;
  padding-right: 2.8rem;
  background-color: var(--light-gray);
}
.search-input::-webkit-input-placeholder {
  color: var(--easy-gray);
}
.fa-magnifying-glass {
  position: absolute;
  right: 10px;
  top: 32%;
  font-size: 1.2rem;
  color: var(--easy-gray);
}

.white-space {
  flex: 3;
  /* width: 612px; */
  /* max-width: 612px; */
  height: 50px;
}

.cart-registration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex: 1; */
  width: 204px;
  max-width: 204px;
  height: 50px;
  /* background-color: #465483; */
}

.regiter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-gray);
  padding: 7px 20px;
  border-radius: 5px;
  /* background-color: red; */
}
.fa-arrow-right-to-bracket {
  transform: rotateY(180deg);
}
.divider {
  width: 1px;
  background-color: var(--light-gray);
  height: 30px;
}
.fa-cart-shopping {
  transform: rotateY(180deg);
}

.nav_product-categories {
  width: 100%;
  height: 50px;
  display: flex;
}

.product-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 204px;
  max-width: 204px;
  height: 50px;
}
#categoring-title {
  color: var(--ligh-black);
  font-size: 0.9rem;
}
.fa-bars {
  color: var(--ligh-black);
}

.products-navbar {
  width: 1000px;
  max-width: 1000px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.products-navbar_divider {
  width: 1px;
  background-color: var(--light-gray);
  height: 20px;
}
.products-navbar_item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: var(--grey);
}

.products-navbar_item i {
  margin-left: 5px;
}

.empty-space {
  width: 489px;
  max-width: 489px;
  height: 50px;
}

.choose-city {
  width: 215px;
  max-width: 215px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: var(--grey);
}
.choose-city p {
  margin-right: 5px;
}

.container {
  width: 75%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#stories {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.story-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.story-list_item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 6px;
  width: 95px;
  text-align: center;
  font-size: 0.8rem;
}
.story-list_item img {
  border-radius: 50%;
  padding: 2px;
  border: 3px solid var(--royal-fuchsia-story-border);
}
.story-list_item div {
  margin-top: 10px;
}
/* Landing Page Styles end here */
