
@media (max-width: 576px) {
    .login {
        width: 380px;
        border: none;
    }
    .dgkala-icon{
        display: none;
    }
    .white-space {
        display: none;
    }
    .cart-registration {
        display: none;
    }
    nav {
        width: 95%;
        
      }
  }